.message-box-overlay {
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background color */
    z-index: 9998;
}


.message-box {
    position: relative;
    /* min-width: 500px; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: #fff;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

}

.message-box #id1{

    width:40px;
    margin-top: 0px;
    position: absolute;
    background-color: white;
    color: #000;
    left:100%;
}


.message-box p {
    font-weight: 700;
    font-size: larger;
    margin: 5%;
    margin-bottom: 0px!important;
    text-align: center;
}


.message-box-content {
    text-align: center;
    width: 50%;
}


.close-button {
    float: flex-end;
    padding: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: #000;
}

.close-button span {
    color: #000;
}
/* 
@media only screen and (max-width: 600px) {
    .message-box {
        width: 300px;
        height: 650px;
    }
} */