.message-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background color */
    z-index: 9998;
}


.message-box {
    position: fixed;
    margin-top: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.message-box-content {
    text-align: center;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.close-button span {
    color: #000;
}

@media only screen and (max-width: 600px) {
    .message-box {
        width: 300px;
        height: 650px;
    }
}